<p>
  user works!
</p>
<ul>
  <li>Name: {{name}}</li>
  <li>E-mail: {{email}}</li>
  <li>Address: {{address.street}}, {{address.province}}</li>
</ul>
<h2>Edit Profile</h2>
<form>
  <div>
    <label>Name:</label>
    <input type="text" [(ngModel)]="name" name="name">
  </div>
</form>
<h2>Skills</h2>
<form (submit)="addSkill(skill.value)">
  <div>
    <label>Skill:</label>
    <input type="text" #skill>
    </div>

</form>
<ul>
  <li *ngFor="let skill of skills; let i=index">{{i+1}} {{skill}} <button (click)="removeskill(skill)">x</button></li>
</ul>

<h2>Todo List</h2>
<ul>
  <!-- todo เดียวมาจากหลายอัน -->
  <li *ngFor="let todo of todoList;">{{todo.id}}, {{todo.title}}

  </li>
</ul>